
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    text-decoration:none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: Regular;

}
nav {
    margin:20px;
}
nav ul {
    list-style:none;
    margin:10px;
    padding:0;
    position: relative;
}
nav li {
    float: left;
    width:100px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background-color: whitesmoke;
    
}
nav li a {
    width:100%;
    height:100%;
    display:block;
    color: black;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a:link{
    text-decoration: none;
}
li.active, a:active, a:hover{
    
    background-color:#b01f24 ;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
    
    color:whitesmoke;

}
 nav ul ul{
    position:absolute;
    display:none;
    cursor: pointer;

 }
.section{
    margin-top:1%;
    /* height: 400px; */

}
#slider {
    margin-top:30px;
    width:700px;
    height:500px;
    overflow:hidden;
}
#slider .slides{
    display:block;
    width: 2900px;
    height:500px;
    margin:0;
    padding:0;
}
#slider .slide{
    float: left;
    list-style-type:none ;
    width:700px;
    height:500px;
}
.introSlogan{
    border-top:solid 1px #b01f24;
    /* width:40%; */
    transition:0.5s all ease-in-out;
    text-align: center;

    
}
.introSlogan p{
    /* margin-top:70px; */
    border-block-start-width: thick;
    font-weight: Regular;
    font-size: 45px;
    display: none;
    color:black;
}
    /* about us section */
#us{
    background-color: black;
    margin-top:8%;
    border-radius: 20px;
    height: 239px;
}

.h4us{
    margin: 5px;
    padding:10px;
    cursor: pointer;
}
.h6us{
    letter-spacing: 3px;
    font-weight: Regular;
    font-size: 16px;
    border-bottom: 3px solid #b01f24;
    border-block-start-width: thick;
    cursor: pointer;
}

.pus{
    margin: 5px;
    padding:20px;
    color:white;
    font-size: 16px;
    display:none;
}
.rus{
    margin-top:10px;  
}
.pusv{
    cursor: pointer;
    display:none;
    position: relative;
    top:-8px;
}
.pusm{
    cursor: pointer;
    display:none;
    position: relative;
    top:-8px;
}
.pusc{
    cursor: pointer;
    display:none;
    position: relative;
    top:-8px;
}
div.usimg{
    position:fixed;
    height:100%;
    width:100%;
    background-image: url('https://bit.ly/2FxShYt');
    background-repeat: no-repeat;
    background-size: contain;
}
.contact{
    margin-top:30px;
    padding:20px;
}
.condiv1{
    border-radius: 10px;
}
.h4conta{
    font-family:Open Sans ;
    font-size: larger;
    font-size:20px;
    padding:20px;
    border-bottom:3px #b01f24 solid ;

}
div.contact p{
    padding:10px;
    letter-spacing: 1px;
}
div.social{
    padding:1px;

}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 0px;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin {
    background:none;
    color: white;
  }
.fa-arrow-right{
    width:40px;
    transform:rotate(155deg);
}
.social{
    text-align:center;
}

.contact-form{
    width:100%;
    /* height:500px; */
    border-radius:3px;
    background-color: #fff;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.contact-info{
    background-color:green;
}

#form{
    text-align:center;
}

form{
    padding:2.3rem 2.2rem;
    z-index:10;
    overflow:hidden;
    position:relative;
}
.title{
    font-weight:500;
    font-size:1.5rem;
    line-height:1;
    margin-bottom:0.7rem;
}
.input-container{
    position: relative;
    /* width: 600px; */
    margin:1rem 0;
}

.input{
    width:100%;
    padding: 5px;
    border-radius:10px;
    transition:0.3s;

}
textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius:10px;
    overflow: auto;
}
.input-container label {
    position: absolute;
    top:50%;
    left:15px;
    transform:translateY(-50%);
    padding:0 0.4rem;
    /* fontcolor */
    font-size:0.9rem;
    font-weight:400;
    color:#b01f24;
    pointer-events: none;
    z-index:1000;
    transition:0.5s;
}
.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.btn{
    padding: 6px 13px;
    border:2px solid #fafafa;
    font-size:0.95rem;
    color:#b01f24;
    border-radius:10px;
    outline: #b01f24;
    outline-color: #b01f24;
    cursor: pointer;
    transition:0.3s;
}

.input-container span{
    position: absolute;
    top:0;
    left:25px;
    transform:translateY(-50%);
    font-size:16px;
    padding:0 4px;
    color:transparent;
    pointer-events: none;
    z-index:500;
}

.input-container span:before,
.input-container span:after{
    content:"";
    position:absolute;
    width:10%;
    height:5px;
    opacity:0;
    transition:0.3px;
    background-color:#fff;
    top:50%;
    transform:translateY(-50%);
}
.input-container span:before{
    left:50%;
}
.input-container span:after{
    right:50%;
}
.input-container.focus label{
    top:0;
    transform: translateY(-50%);
    left:25px;
}
.input-container.focus span:before,
.input-container.focus span:after{
    width:50%;
    opacity:1;
}

.partner h3{
    color:#000;
    letter-spacing: 3px;
    /* line-height: 5px; */
    font-weight: 600;
    padding:10px;
}

.box{
    width: 90%;
    height:85%;
    background:#000;
    overflow: hidden;
    border-radius:10px;
    transition:.6s;
    position:relative;
}
.box .img-box{
    position:absolute;
    top:0;
    left:0;
    transition:0.5s;
    width:100%;
    height:100%;
    overflow: hidden;
}

.box:hover .img-box{
    opacity:0.4;
}
.box:hover .content{
    position:relative;
}
.box .content{
    position:absulte;
    width:100%;
    height:50%;
    bottom:0;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
}
.box .content {
    color:whitesmoke ;
}


/* section body careers */
.carre{
    text-align:center;
}
.h4career{
    margin-top:20px;
    font-weight: 600;
    letter-spacing: 3px;
}
.pcareer1{
    font-weight: 600;
    letter-spacing: 3px;
}
.pcareer{
    margin-left:20%;
}
.mainCardContainer{
    margin-top:20px;
    perspective: 1000px;
}
.card{
    width:auto;
    height:55vh;
    padding:5px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform:rotateY(180deg);
}
.front{
    position:absolute;
    width:100%;
    height:100%;
    right:0;
    bottom:0;
    backface-visibility: hidden;
    background:#b01f24;
    text-align:center;
    border-radius: 20px;
}

.back{
    position:absolute;
    width: 100%;
    height:100%;
    right:0;
    bottom:0;
    background:#fafafa;
    backface-visibility: hidden;
    text-align:center;
    border-radius: 20px;
    transform:rotateY(180deg);
}

/* section software */

.wwd{
    margin:auto;
    width:40%;
    
}
.software, .design, .cctv {
    margin-top:40px;
    border-bottom: #b01f24 3px solid;
    /* width:450px; */
    text-align: center;
    letter-spacing:2px;
    cursor: pointer;
}
#arrow-right{
    display:none;
    transition: all 0.5s ease;
}
.p{
    display:none;
}
div.footer,div.footerus, div.footercon{
    margin-top:4.4%;
    height: 70px;
    font-size: 16px;
  }
  /* about us footer cc */
  div.footerus{
      position:relative;
  }
  /* div.footerus, div.footercon{
   
    height: 70px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
  } */

/* contact us footer */
.contactf{
    margin-top: 30px;
}
.final{
    color: black;
    display: flex;
    justify-content: center;
    padding-top:15px;
    font-weight: 1;
    align-items: center;
  }
.img1{
   
    float:right;
    margin: 50px 10px 10px 0;
    border: solid 2px #b01f24;
    border-radius: 15px;
} 
/* .slogan{
  
    
} */





/* LOGOS  */


.logo1{
    height:30px;
    width:30px;
}
.logo2{
    margin-left: 20px;
    margin-top:10px;
} 

.officialLogo{
    width:250px;
    height: 100px;
}