
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* overflow: hidden; */
}
body{
    text-decoration:none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color:#edf0f1;

}
nav{
    background-color: black;
    height: 80px;
    width:100%;
    
}

nav ul{
    
    float:right;
    margin-right: 20%;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a {
    color:#edf0f1;
    font-size:16px;
    padding:7px 13px;
    text-transform: uppercase;
    letter-spacing:3px;
    text-decoration:none; 

}

a.active,a:active, a:hover{
    background-color:#b01f24 ;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
    /* ; */
}
.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
    
}

/* 
.navis li a{
    transition: all 0.3s ease 0s;
    letter-spacing:3px ;
}
.navis a:active{
    border-left:solid #b01f24 3px;
    background-color: #b01f24;
   
    opacity: 0.5;
}
.navis a:hover{
    border-left:solid #b01f24 3px;
    border-left:solid #b01f24 3px;
    background-color: #b01f24;
} */

/* section css */
section{
    margin-top:50px;
    background-color:black;
    height: calc(100vh - 8px);
}

.v22_0 {
    width: 665px;
    height: 500px;
    background: url("../images/v22_0.png") no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
.v4_3 {
    width: 134px;
    height: 24px;
    background: rgba(0,0,0,0);
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 34px;
    overflow: hidden;
}
.wasaabi_name {
    width: 68px;
    color: rgba(206,193,193,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.img {
    width: 423px;
    height: 225px;
    background: url("https://bit.ly/2DISNlY");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 51px;
    left: 242px;
    overflow: hidden;
}
.img_title {
    width: 175px;
    height: 45px;
    background: rgba(62,57,57,0.6100000143051147);
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 90px;
    overflow: hidden;
}
.v5_0 {
    width: 166px;
    color: rgba(206,193,193,1);
    position: absolute;
    top: 213px;
    left: 102px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
}
.caption {
    width: 345px;
    height: 101px;
    background: rgba(196,196,196,0.07000000029802322);
    opacity: 1;
    position: absolute;
    top: 284px;
    left: 199px;
}

div.footer{
    outline-style: solid;
    outline-color: rgba(176,31,36,1);
    margin-top:10px;
    width: 100%;
    height: 80px;
  }
  @media all and (max-width: 932px) {
    .checkbtn{
        display:block; 
    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background:#000000;
        opacity: 0.5;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display:block;
        margin:10px;
        font-weight:bold ;
    }
    a:hover, a:active, a.active{
        background:none;
        color:#b01f24;
    }
    #check:checked ~ ul{
        left:0;
        position: relative;
    }
    /* #check:checked ~ section{
        display: none;
    } */

}